# Ignore dot files except .gitignore / .env
.*
!.gitignore
!.env

# Ignore log files
Logs/

#Ignore any various backups
*_*

#Ignore any company related files
Network.xlsx
computers.csv

# Ignore any test files
test*.*

#Ignore powershell stuff
pwrshl/
addtoninja.ps1