# Ignore dot files except .gitignore / .env
.*
!.gitignore
!.env

# Ignore log files
Logs/

#Ignore any various backups
*_*

#Ignore any company related files
*.xlsx
*.csv

# Ignore any test files
test*.*

# Ignore dist
dist/

#Ignore powershell stuff
pwrshl/
addtoninja.ps1

#Ignore any generated XLSX files
XLSX Results/